body{  
    background: url(../img/loginFondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:auto;
    font-size: 100%;
    
}

.Logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 50px;
}
h1{
 background-color:darkred;
}
  
    

form{
   font-size: 20px;
    border: 50px ;
    width: 250px;
    
}

label,p{
    color: white;
}
.REGISTRARSE{
    border: 5px groove;  
}
