/**{margin: 0%;}*/
body{
    background-color: rgb(255, 255, 255);
    font-family:"Mavenpro";
    src: url(MavenPro.ttf);
    color: #333;
    font-size: 1.2rem; 
    line-height: 1.6em;
    margin: 0;
}
h1 {
    font-size: 2rem;
    line-height: 1.3em;
}
h1, h2, h3, h4{
    text-align: center;
}

p{
    margin-bottom: 1.6em;
    color:rgb(15, 15, 15);
}
.w3-container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;

}


#enlaceuno{
    
    color: rgb(5, 5, 5);
   /* font-weight: bold;*/
    font-size: 2em;
    text-align: center;
}

.header{
    background: white;
    color: #333;
    
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

 .header a{
    color: #333;
    font-weight: bold;
    text-decoration: none;
}


.logo-nav-contanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navigation ul{

   margin: 0;
   padding: 0;
   list-style: none;   
}
   .navigation ul li{
    display: inline-block;
 }
    .navigation ul li a{
        display: block;
        padding: 0,5rem 1rem;
        transition: all 0,4s linear;
        border-radius: 2px;
    } 
      .navigation ul li a:hover{
         background: #c5b4b4;
     }

.main{
    padding-top: 12rem;
}

/*
.primerseccion{
background-color: rgb(8, 8, 8);
}*/

/*.menu{
    font-family: "Mavenpro";   
}
nav:hover{ background-color:brown;
}
nav:active{
    color:lightpink;
    font: size 30px;;
}
nav ul{
list-style:none;
margin:0;
padding:o;
}
nav ul li{
display:inline-block;
}
nav ul li a{
color:linen;
display:block;
justify-content:space-evenly;
padding: 0px 20px;
text-decoration:none;
}


.fondodos{
    background-color: snow;
}
#segundotitulo{
    font-family: "Mavenpro";
    font-size: 1,5em;
    font-weight: bold;
    background-color: rgb(252, 253, 253);

   
}
#parrafouno{
    font-family: "Mavenpro";
    font-weight: bold;
    background-color: rgb(252, 253, 253);
    
}
#parrafodos{
    font-family: "Mavenpro";
    font-weight: bold;
}
#parrafotres{
    font-family: "Mavenpro";
    font-weight: bold;
}
#quehacer{
    background-color: rgb(252, 253, 253);
}
#parrafocuatro{
    font-family: "Mavenpro";
    color: rgb(252, 252, 252);
    background-color: rgb(250, 20, 20);
    font-size: 1em;
    font-weight: bold;
}
#parrafocinco{
    font-family: "Mavenpro";
    color: rgb(8, 8, 8);
    background-color: rgb(252, 252, 252);
}

#parrafoseis{
    font-family: "Mavenpro";
    color: rgb(252, 252, 252);
    font-size: 1,5em;
    font-weight: bold;
}
#enlaceaca{
    font-family: "Mavenpro";
    color: rgb(250, 20, 20);
    font-weight: bold;
}
.segundaseccion{
    background-image: url(/progranmacionweb/img/fondodos.jpg); 
    background-size: cover;
    color: rgb(8, 8, 8);
    background-color: rgba(rgb(253, 251, 251) 0,0, rgb(239, 239, 245) 0, alpha);
}
.Logo { 
    width: 90px;
    height: 90px;
    background-color: rgb(12, 12, 12);
}    
.imagenes{
    width: 50px ;
    height: 50px;
    background-color:  #e4b0ae
}
.entrenamiento {
   width: 1000px ;
    height: 350;   
}
/*
#primertitulo{
    font-family: "Mavenpro";
    color: rgb(12, 12, 12);
    background-color: rgb(253, 251, 251);
    font-weight: bold;
    font: 4em;
    /*font-size: 1em;
}
p{
    font-family: "Mavenpro"
}
.H3 { 
    background-color:  rgb(250, 20, 20);
}
#contactanos{
    font-family: "Mavenpro" ;
    font-size: 2em;
    color: rgb(5, 5, 5);
    font-weight: bold;
}*/

.pie {
    font-family: "Mavenpro";
    background-color: #0a0a0a;
    padding: 4rem 0;
    text-align: center;
    margin-top: 4rem;
    
}

#ultimotitulo{
    font-family: "Mavenpro";
    
    color: rgb(252, 252, 252);
}


/*
#email{
    font-family: "Mavenpro";
    color: black;
}
#tel{
    font-family: "Mavenpro";
    color: black;}
#web{
    font-family: "Mavenpro";
    color: black;
}
@font-face{
    font-family:"Mavenpro";
    src: url(MavenPro.ttf);
}
